*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
background:#f4f6f9;
color:#1e293b;
}

header{
background:#0f172a;
color:white;
padding:20px 60px;
display:flex;
justify-content:space-between;
align-items:center;
}

header h1{
color:#fbbf24;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:500;
}

nav a:hover{
color:#fbbf24;
}

.hero{
height:90vh;
background:url('https://images.unsplash.com/photo-1503387762-592deb58ef4e') center/cover no-repeat;
display:flex;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.hero h2{
font-size:48px;
background:rgba(0,0,0,0.6);
padding:20px;
}

.section{
padding:80px 60px;
text-align:center;
}

.section h2{
font-size:36px;
margin-bottom:40px;
}

.cards{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:white;
padding:30px;
width:300px;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:8px;
margin-bottom:15px;
}

footer{
background:#0f172a;
color:white;
text-align:center;
padding:30px;
margin-top:50px;
}

button{
background:#fbbf24;
border:none;
padding:12px 25px;
cursor:pointer;
font-weight:bold;
}

input, textarea{
width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:5px;
}
